<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= user.username %>'s Dashboard</title>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.13.0/css/all.css"
      integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300&display=swap'); /* font-family: 'DM Mono', monospace; */
      @import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap'); /* font-family: 'Varela Round', sans-serif; */

      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      header {
        position: relative;
        background: linear-gradient(to right, grey, lightgrey);
        display: flex;
        align-items: center;
        width: 100%;
        height: 80px;
        border-bottom: 1px solid black;
        box-shadow: 0 2px 5px black;
      }
      body {
        background-color: darkgrey;
      }
      .body-cont {
        overflow-x: hidden;
      }
      .body-cont::-webkit-scrollbar {
        width: 5px;
      }
      .body-cont::-webkit-scrollbar-track {
        background-color: rgba(128, 128, 128, 0);
      }

      .body-cont::-webkit-scrollbar-thumb {
        background-color: rgb(37, 37, 37);
        border: 1px solid rgb(20, 20, 20);
        border-radius: 99999px;
      }
      .settings {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .settings a {
        cursor: pointer;
        z-index: 1;
        font-size: 23px;
        border: 1px solid black;
        background-color: black;
        color: white;
        padding: 8px;
        border-radius: 10px;
        transition: all 0.3s ease;
        text-decoration: none;
      }
      .settings a:hover {
        box-shadow: -1px 1px 3px 1px rgb(61, 61, 61);
      }
      .settings2 {
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: center;
        visibility: hidden;
      }
      .settings2 a {
        cursor: pointer;
        font-size: 23px;
        border: 1px solid black;
        background-color: black;
        color: white;
        padding: 8px;
        border-radius: 10px;
        transition: all 0.3s ease;
        text-decoration: none;
      }
      .settings2 a:hover {
        box-shadow: -1px 1px 3px 1px rgb(61, 61, 61);
      }
      .logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
      }
      .logo h1 {
        font-family: 'DM Mono', monospace;
        text-align: center;
      }
      header .logout-btn {
        display: flex;
        justify-content: space-between;
        position: absolute;
        left: 0;
        height: 100%;
        width: 100%;
      }
      .email-confirmation {
        height: 40px;
        width: 100%;
        border-bottom: 1px solid rgb(104, 104, 0);
        background-color: rgba(155, 155, 0, 0.493);
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .email-confirmation p {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
      }
      .email-confirmation p button {
        background-color: transparent;
        border: none;
        font-size: 15px;
        cursor: pointer;
        text-decoration: underline;
        transform: translateY(14%);
      }
      .logout-btn2 {
        display: flex;
        justify-content: space-between;
        height: 100%;
        width: 100%;
        transform: translateY(100%);
      }
      header .logout-btn #logoutBtn {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 80px;
        font-size: 23px;
        border: 1px solid black;
        background-color: black;
        color: white;
        padding: 8px;
        border-radius: 10px;
        cursor: pointer;
        transition: all 0.3s ease;
        text-decoration: none;
      }
      .logout-btn2 #logoutBtn2 {
        font-size: 23px;
        border: 1px solid black;
        background-color: black;
        color: white;
        padding: 8px;
        border-radius: 10px;
        cursor: pointer;
        transition: all 0.3s ease;
        text-decoration: none;
        visibility: hidden;
        margin: 10px;
      }
      header .logout-btn #logoutBtn:hover {
        box-shadow: -1px 1px 3px 1px rgb(61, 61, 61);
      }
      .logout-btn2 #logoutBtn2:hover {
        box-shadow: -1px 1px 3px 1px rgb(61, 61, 61);
      }
      .title {
        width: 100%;
        text-align: center;
        margin-top: 30px;
      }
      .title h1 {
        text-decoration: underline;
        font-family: 'Varela Round', sans-serif;
      }
      .notes-title {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .notes-title h2 {
        margin: 10px;
        padding: 10px;
        width: 75%;
        position: relative;
      }
      .notes-title h2 p {
        position: absolute;
        right: 5%;
        top: 50%;
        transform: translateY(-50%);
        font-size: 18px;
      }
      .notes-title h2 p span {
        border: 1px solid grey;
        border-radius: 10px;
        padding: 5px 5px 7px 5px;
        cursor: pointer;
      }
      #sortArrow {
        font-size: 12px;
      }
      .notes {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .notes .note {
        margin: 10px;
        padding: 10px;
        border: 1px solid black;
        width: 75%;
        position: relative;
      }
      .notes .note .delete-note {
        position: absolute;
        font-size: 10px;
        top: 0px;
        right: 0px;
        transform: translate(30%, -30%);
        background-color: rgb(41, 41, 41);
        height: 20px;
        width: 20px;
        box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.5);
        border: none;
        border-radius: 3px;
        cursor: pointer;
        transition: all 0.3s ease;
        padding: 2px;
        color: white;
      }
      .notes .note .delete-note:hover {
        box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.5);
      }
      .notes .note p {
        word-wrap: break-word;
      }
      form {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
      }
      #newNoteForm {
        display: block;
      }
      form #newNote {
        position: absolute;
        bottom: 22px;
        left: 50%;
        transform: translateX(-50%);
        width: 75%;
        padding: 5px;
        box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.5);
        border: none;
        border-radius: 3px;
        background-color: rgb(41, 41, 41);
        cursor: pointer;
        transition: all 0.2s ease;
        font-size: 15px;
        text-shadow: -1px 1px 1px rgba(0, 0, 0, 0.9);
        outline: none;
        color: white;
      }
      form #newNote:hover {
        box-shadow: -3px 3px 3px rgba(0, 0, 0, 0.5);
      }
      form #newnote {
        margin-left: 50%;
        transform: translateX(-50%);
        padding: 10px;
        width: 75%;
        margin-bottom: 50px;
        border: 1px solid black;
      }
      .del-all-notes button {
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translate(-50%, 200%);
        padding: 3px;
        outline: none;
        border: 1px solid lack;
        background-color: rgb(224, 0, 0);
        border: none;
        border-radius: 5px;
        color: white;
        cursor: pointer;
      }
      #hiddenForm {
        display: none;
      }
      #bottom {
        width: 100%;
      }
      #sortOptionForm {
        display: none;
      }
      @media screen and (max-width: 700px) {
        .logo h1 {
          text-align: start;
          margin-left: 5%;
        }
        .logout-btn button {
          border: 1px solid red;
          right: 5% !important;
        }
        .settings {
          visibility: hidden;
        }
        .settings2 {
          visibility: visible;
          transform: translateY(100%);
        }
        .notes-title h2 {
          height: 90px;
        }
        .notes-title h2 p {
          transform: translateY(0);
          bottom: 0;
          left: 0;
          padding: 2px 5px;
        }
      }
      @media screen and (max-width: 500px) {
        .logo h1 {
          text-align: center;
          margin-left: 0;
        }
        .notes .note {
          width: 90%;
        }
        form textarea {
          width: 90% !important;
        }
        #newNote {
          width: 90% !important;
        }
        .logout-btn #logoutBtn {
          visibility: hidden;
        }
        .logout-btn2 #logoutBtn2 {
          visibility: visible;
        }
        .logout-btn2 {
          margin-bottom: 300px;
        }
        .notes-title h2 {
          width: 90%;
        }
      }
      @media screen and (max-width: 300px) {
        .notes .note {
          width: 95%;
        }
        .logo h1 {
          font-size: 20px;
        }
        .title h1 {
          font-size: 25px;
        }
        .notes-title h2 {
          width: 95%;
        }
      }
    </style>
    <% if (user.sortOption === 'descending') { %>
    <style>
      #sortArrow {
        transform: rotate(180deg);
      }
    </style>
    <% } %>
    <header>
      <div class="settings">
        <a href="/settings/<%= user.username %>?k=<%= user._id %>">Settings</a>
      </div>
      <div class="logo">
        <h1>Note Keeper ✓</h1>
      </div>
      <form
        action="/account/logout/<%= user._id %>"
        method="POST"
        class="logout-btn"
      >
        <button type="submit" id="logoutBtn">Log out</button>
      </form>
    </header>
    <% if (user.emailConfirmed === false) { %>
    <form
      action="/account/<%= user._id %>/resendemail"
      method="POST"
      class="email-confirmation"
    >
      <p>
        Email confirmation link sent to <%= user.email %>.&nbsp;<button
          type="submit"
        >
          Resend!
        </button>
      </p>
    </form>
    <% } %>
    <div class="body-cont">
      <div class="title">
        <h1>Welcome <%= user.username %></h1>
      </div>
      <div class="notes">
        <div class="notes-title">
          <h2>
            You have <%= user.notes.length %> note<% if (user.notes.length > 1)
            {%>s<% } else if (user.notes.length === 0) {%>s<% } %>:
            <p>
              Sort by
              <span id="sortOptionSpan"
                ><%= user.sortOption %>&nbsp;<i
                  id="sortArrow"
                  class="fas fa-chevron-up"
                ></i
              ></span>
            </p>
          </h2>
        </div>
        <% if (user.sortOption === 'descending') { %> <% for (i = 0; i <
        user.notes.length; i++) { %>
        <div class="note">
          <button value="<%= i %>" class="delete-note">
            <i class="fas fa-trash-alt"></i>
          </button>
          <p id="note<%= i %>">
            <%= user.notes[i] %>
          </p>
        </div>
        <% }} else if (user.sortOption === 'ascending') { %> <% for (i =
        user.notes.length - 1; i >= 0; i--) { %>
        <div class="note">
          <button value="<%= i %>" class="delete-note">
            <i class="fas fa-trash-alt"></i>
          </button>
          <p id="note<%= i %>">
            <%= user.notes[i] %>
          </p>
        </div>
        <% } %> <% } %>
        <section id="bottom">
          <form
            action="/account/<%= user._id %>/addnote"
            method="POST"
            name="newNoteForm"
            id="newNoteForm"
          >
            <button type="submit" id="newNote" name="submitBtn">
              Add note!
            </button>
            <textarea
              name="newnote"
              id="newnote"
              cols="30"
              rows="10"
              placeholder="New note..."
            ></textarea>
          </form>
          <form
            method="POST"
            action="/account/<%= user._id %>/deleteallnotes"
            class="del-all-notes"
          >
            <button type="submit">Delete all notes!</button>
          </form>
          <div class="settings2">
            <a href="/settings/<%= user.username %>?k=<%= user._id %>"
              >Settings</a
            >
          </div>
          <form
            action="/account/logout/<%= user._id %>"
            method="POST"
            class="logout-btn2"
          >
            <button type="submit" id="logoutBtn2">Log out</button>
          </form>
        </section>
      </div>
    </div>
    <form
      action="/account/<%= user._id %>/deletenote"
      method="POST"
      class="hidden-form"
      id="hiddenForm"
    >
      <input type="text" name="notetoremove" id="notetoremove" />
    </form>
    <form
      action="/account/<%= user._id %>/sortoption"
      method="POST"
      id="sortOptionForm"
    ></form>

    <script>
      const newNoteForm = document.getElementById('newNoteForm');
      const submitBtn = document.getElementById('newNote');
      const textArea = document.getElementById('newnote');

      submitBtn.addEventListener('click', (e) => {
        e.preventDefault();
        if (!textArea.value.trim().length) {
          alert("You didn't add any text!");
        } else {
          textArea.value = textArea.value.trim();
          newNoteForm.submit();
        }
      });

      const deleteBtn = document.querySelectorAll('.delete-note');

      const hiddenForm = document.getElementById('hiddenForm');
      const hiddenFormInput = document.getElementById('notetoremove');

      deleteBtn.forEach((btn) => {
        btn.addEventListener('click', () => {
          const delNoteIndex = btn.value;
          hiddenFormInput.value = delNoteIndex;
          hiddenForm.submit();
        });
      });

      const sortOptionForm = document.getElementById('sortOptionForm');
      const sortOptionBtn = document.getElementById('sortOptionSpan');

      sortOptionBtn.addEventListener('click', () => {
        sortOptionForm.submit();
      });
    </script>
  </body>
</html>
